# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  identityprovider:
    image: identityprovider:dev
    build:
      context: .
      dockerfile: IdentityProvider/Dockerfile
    ports:
      - 5000:5000
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    volumes:
      - ~/.vsdbg:/remote_debugger:rw
 
  api:
    image: api:dev
    build:
      context: .
      dockerfile: Api/Dockerfile
    ports:
      - 5002:5000
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5002
    volumes:
      - ~/.vsdbg:/remote_debugger:rw

  clientapp:
    image: clientapp:dev
    stdin_open: true
    build: 
      context: ./client-app
      dockerfile: Dockerfile.development
    ports:
      - 5001:3000
    volumes:
      - './client-app:/app'
      - '/app/node_modules'
    environment: 
      - CHOKIDAR_USEPOLLING=true

