# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  identityprovider:
    image: identityprovider
    build:
      context: .
      dockerfile: IdentityProvider/Dockerfile
    ports:
      - 5000:80

  clientapp:
    image: clientapp
    build:
      context: ./client-app
      dockerfile: Dockerfile
    ports:
      - 5001:80