# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  identityprovider:
    image: identityprovider:dev
    build:
      context: .
      dockerfile: IdentityProvider/Dockerfile
      args:
        - CMD_ARGS=/seed
    ports:
      - 5000:5000
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    volumes:
      - ~/.vsdbg:/remote_debugger:rw
    depends_on:
      - idpdb
 
  idpdb:
    image: mcr.microsoft.com/mssql/server:latest
    user: root
    environment:
      SA_PASSWORD: "SecurePass123"
      ACCEPT_EULA: "Y"
    ports:
      - 1610:1433
    volumes:
      - mssql-idpdb:/var/opt/mssql
 
  api:
    image: api:dev
    build:
      context: .
      dockerfile: Api/Dockerfile
    ports:
      - 5002:5000
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5002
    volumes:
      - ~/.vsdbg:/remote_debugger:rw

  clientapp:
    image: clientapp:dev
    stdin_open: true
    build: 
      context: ./client-app
      dockerfile: Dockerfile.development
    ports:
      - 5001:3000
    volumes:
      - './client-app:/app'
      - '/app/node_modules'
    environment: 
      - CHOKIDAR_USEPOLLING=true

volumes: 
  mssql-idpdb:
    driver: local